{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<main class="flex items-center justify-center m-10">

<img class="hidden width=1/3 sm:block" src="{{asset('login.jpg')}}">
<div class="text-center p-6 flex flex-row">




</div>
</main>

{% endblock %}