{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1 class="text text-2xl m-2">Edit Customer</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customer_index') }}" class="text text-2xl m-2">back to list</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
