{% extends 'base.html.twig' %}

{% block title %}New Sales{% endblock %}

{% block body %}
    <h1 class="text text-2xl m-2">Create new Sales</h1>

    {{ include('sales/_form.html.twig') }}

    <a href="{{ path('app_sales_index') }}" class="text text-2xl m-2">back to list</a>
{% endblock %}
