{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text text-2xl m-2">Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}" class="text text-2xl m-2">Back to list</a>
{% endblock %}
